<div class="container pt-2">
    <div class="row pb-2">
        <div class="col-4">
            <a href='/urpg-webapps/pokemon/{{ prev.name }}' target="_self">
                <div class="row">
                    <div class="col-auto d-flex align-items-center">
                        <img src='{{ iconBase }}/control-prev.gif'>
                        <img class="icon" src="{{ iconBase }}/{{ prev.dexno }}.png"/>
                        <span>#{{ prev.threeDigitDexno() }} {{ prev.name }}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 offset-3 offset-sm-4">
            <a href='/urpg-webapps/pokemon/{{ next.name }}' target="_self">
                <div class="row">
                    <div class="col-auto d-flex align-items-center text-right ml-auto">
                        <span>#{{ next.threeDigitDexno() }} {{ next.name }}</span>
                        <img class="icon" src="{{ iconBase }}/{{ next.dexno }}.png"/>
                        <img src='{{ iconBase }}/control-next.gif'>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
