<div class="container-fluid" *ngIf="member !== undefined">
    <div class="row header" #header>
        <urpg-stats-header [trainer]="member"></urpg-stats-header>
    </div>
    <div class="row content" #content>
        <div class="col-md-4 col-xl-2 d-none d-md-flex fixed-top menubar" #menuBar>
            <urpg-stats-menu-bar (tabChange)="showTab($event)"></urpg-stats-menu-bar>
        </div>
        <div class="col-md-4 col-xl-2 d-none d-md-flex" invisible>        </div>
        <div class="col col-md-8 col-xl-10 background">
            <urpg-pokemon-pane [hidden]="tab != 'pokemon'" [pokemon]="member.pokemon"></urpg-pokemon-pane>
            <stats-inventory [member]="member" [hidden]="tab != 'inventory'"></stats-inventory>
            <urpg-match-history-pane [member]="member" [hidden]="tab != 'match'"></urpg-match-history-pane>
            <stats-gyms [gyms]="member.gyms" [hidden]="tab != 'gyms'"></stats-gyms>
            <urpg-creations-pane [hidden]="tab != 'creations'"></urpg-creations-pane>
            <urpg-characters-pane [hidden]="tab != 'characters'"></urpg-characters-pane>
            <urpg-achievements-pane [hidden]="tab != 'achievements'"></urpg-achievements-pane>
            <urpg-wishlist-pane [hidden]="tab != 'wishlist'"></urpg-wishlist-pane>
            <urpg-change-log-pane [hidden]="tab != 'changelog'"></urpg-change-log-pane>
        </div>
    </div>
</div>
<div class="fixed-bottom d-md-none">
    <urpg-stats-menu-tab></urpg-stats-menu-tab>
</div>