<div class="row">
    <div class="col-2">
        <div class="container border">
            <div class="row pt-2">
                <div class="col">
                    <button 
                        class="btn btn-primary btn-block"
                        (click)="doExit(null)">Back
                    </button>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col">
                    <h4 *ngIf="editType=='update'; else deltaName" class="text-center">{{ model.nickname ? model.nickname : model.species.name }}</h4>
                    <ng-template #deltaName>
                        <h4 class="text-center">{{ delta.nickname ? delta.nickname : delta.species }}</h4>
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    <img 
                        *ngIf="editType=='update'; else deltaImage" 
                        src="{{ getModelPath(model) }}" 
                        alt="Image of {{ model.getDisplayName() }}">
                    <ng-template #deltaImage>
                        <img
                            *ngIf="species"
                            src="{{ getModelPath(delta) }}" 
                            alt="Image of {{ delta.getDisplayName() }}">
                    </ng-template>
                </div>
            </div>

            <ng-container *ngIf="editType=='update'; else deltaSpecies">
                <div class="row pt-2" *ngIf="model.nickname">
                    <div class="col">
                        <strong>Species</strong>
                    </div>
                    <div class="col">
                        {{ model.species.name }}
                    </div>
                </div>
            </ng-container>
            <ng-template #deltaSpecies>
                <div class="row pt-2" *ngIf="delta.nickname">
                    <div class="col">
                        <strong>Species</strong>
                    </div>
                    <div class="col">
                        {{ delta.species }}
                    </div>
                </div>
            </ng-template>
        
            <div class="row py-2">
                <div class="col">
                    <button 
                        class="btn btn-block"
                        [ngClass]="detectChanges() ? 'btn-warning' : 'btn-primary'"
                        (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <collapsible-message #message></collapsible-message>
        <zydeco-attributes *ngIf="loaded"
            [editType]="editType"
            [modelDefinition]="modelDefinition"
            [model]="model"
            [delta]="delta"
            (valueChanged)="onChange($event)"
        ></zydeco-attributes>
    </div>
</div>