<div class="container-fluid">
    <div class="row mt-2">
        <div class="col col-xl-6 py-0 raised">
            <div class="row">
                <div class="col py-2">
                    <strong>Wins</strong>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    {{ member.wins }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-xl-6 py-0 raised">
            <div class="row">
                <div class="col py-2">
                    <strong>Losses</strong>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    {{ member.losses }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-xl-6 py-0 raised">
            <div class="row">
                <div class="col py-2">
                    <strong>Draws</strong>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    {{ member.draws }}
                </div>
            </div>
        </div>
    </div>
</div>
