<div class="container">
    <div class="row py-1 d-flex align-items-center justify-content-center text-center border capture-info">
        <div class="col-sm-2" *ngIf="species.pokemart != null && species.pokemart != '' && species.pokemart != '-1'">
            <strong>POKEMART</strong><br>
            {{ species.pokemart | currency : 'USD' : '$' : '1.0-0' }}
        </div>
        <div class="col-sm-2" *ngIf="species.pokemart == null || species.pokemart == '' || species.pokemart == '-1'">
            <strong>POKEMART</strong><br>
            -
        </div>
        <div class="col-sm-2" *ngIf="species.contestCredits != null && species.contestCredits != '' && species.contestCredits != '-1'">
            <strong>BERRY STORE</strong><br>
            {{ species.contestCredits | currency : 'USD' : '$' : '1.0-0' }}
        </div>
        <div class="col-sm-2" *ngIf="species.contestCredits == null || species.contestCredits == '' || species.contestCredits == '-1'">
            <strong>BERRY STORE</strong><br>
            -
        </div>
        <div class="col-sm-2">
            <strong>STORIES</strong><br>
            {{ species.storyRank != null ? species.storyRank.name : 'Unavailable' }}
        </div>
        <div class="col-sm-2">
            <strong>ART GALLERY</strong><br>
            {{ species.artRank != null ? species.artRank.name : 'Unavailable' }}
        </div>
        <div class="col-sm-2">
            <strong>NATIONAL PARK</strong><br>
            {{ species.parkRank != null && species.parkRank.name != '-' ? species.parkRank.name + '/' : 'Unknown' }}{{ species.parkLocation != null && species.parkLocation.name != '-' ? species.parkLocation.name : '' }} {{ species.parkRank != null && species.parkRank.requirement != '-' ? '(' + species.parkRank.requirement + ')' : '(Unknown)' }}
        </div>
        <div class="col-sm-2">
            <strong>MORPHIC</strong><br>
            {{ getMorphicRequirement() != null ? getMorphicRequirement() + " form posts" : "See basic stage requirements" }}
        </div>
    </div>
</div>