<div class="learnset">
    <pokedex-learnset-category [label]="'LEVEL-UP MOVES'" [attacks]="getAttacks('LEVEL-UP')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
    <pokedex-learnset-category [label]="'TECHNICAL MACHINES'" [attacks]="getAttacks('TM')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
    <pokedex-learnset-category [label]="'HIDDEN MACHINES'" [attacks]="getAttacks('HM')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
    <pokedex-learnset-category [label]="'EGG MOVES'" [attacks]="getAttacks('BREEDING')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
    <pokedex-learnset-category [label]="'TUTORED MOVES'" [attacks]="getAttacks('MOVE TUTOR')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
    <pokedex-learnset-category [label]="'SPECIAL MOVES'" [attacks]="getAttacks('SPECIAL')" [displayMove]="displayMove" (hoveredMove)="hoverMove($event)"></pokedex-learnset-category>
</div>