<select
    class="form-control"
    [(ngModel)]="updatedValue" 
    [required]="field.required && isNew"
    #validator="ngModel"
    [ngClass]="validator.invalid && (validator.dirty || validator.touched) ? 'is-invalid' : ''">
    <option selected value="undefined" *ngIf="field.required">- unchanged -</option>
    <option value="true">True</option>
    <option value="false">False</option>
</select>
<div class="invalid-feedback" *ngIf="validator.errors && validator.errors.required">
    Please provide a value for {{ field.label }}.
</div>