<div class="container pb-40">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Species</li>
        </ol>
    </nav>
    <resources-search [items]="names" [changes]="detectChanges()" (create)="create()" (findByName)="findByName($event)" (save)="save()"></resources-search>
    <resources-message #messageBox></resources-message>
</div>
<div class="container pb-5" *ngIf="editType == 'create' || model != undefined">
    <resources-edit-attribute-header [editType]="editType"></resources-edit-attribute-header>
    <resources-edit-attribute 
        attribute="Name" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.name : ''" 
        [(ngModel)]="delta.name" 
        minlength="3" 
        maxlength="21"
        required="true"></resources-edit-attribute>
    <resources-edit-attribute-number
        attribute="Pokedex Number"
        [editType]="editType"
        [currentValue]="model != undefined ? model.dexno : ''"
        [(ngModel)]="delta.dexno"
        minvalue="1"></resources-edit-attribute-number>
    <resources-edit-attribute 
        attribute="Display Name" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.displayName : ''" 
        [(ngModel)]="delta.displayName" 
        minlength="3" 
        maxlength="20"></resources-edit-attribute>
    <resources-edit-attribute 
        attribute="Form Change Method" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.alteredFormMethod : ''" 
        [(ngModel)]="delta.alteredFormMethod" 
        minlength="0" 
        maxlength="100"></resources-edit-attribute>
    <resources-edit-attribute 
        attribute="Form Name" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.formName : ''" 
        [(ngModel)]="delta.formName" 
        minlength="3" 
        maxlength="20"></resources-edit-attribute>
    <resources-edit-attribute-select
        attribute="Type 1"
        [editType]="editType"
        [currentValue]="model != undefined && model.type1 != undefined ? model.type1.name : ''"
        [items]="types"
        [(ngModel)]="delta.type1"
        required="true"></resources-edit-attribute-select>
    <resources-edit-attribute-select
        attribute="Type 2"
        [editType]="editType"
        [currentValue]="model != undefined && model.type2 != undefined ? model.type2.name : ''"
        [items]="types"
        [(ngModel)]="delta.type2"></resources-edit-attribute-select>
    <resources-edit-attribute 
        attribute="Classification (The __ Pokemon)" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.classification : ''" 
        [(ngModel)]="delta.classification" 
        minlength="3" 
        maxlength="20"
        required="true"></resources-edit-attribute>
    <resources-edit-attribute-number
        attribute="HP"
        [editType]="editType"
        [currentValue]="model != undefined ? model.hp : ''"
        [(ngModel)]="delta.hp"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Attack"
        [editType]="editType"
        [currentValue]="model != undefined ? model.attack : ''"
        [(ngModel)]="delta.attack"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>     
    <resources-edit-attribute-number
        attribute="Defense"
        [editType]="editType"
        [currentValue]="model != undefined ? model.defense : ''"
        [(ngModel)]="delta.defense"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Special Attack"
        [editType]="editType"
        [currentValue]="model != undefined ? model.specialAttack : ''"
        [(ngModel)]="delta.specialAttack"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Special Defense"
        [editType]="editType"
        [currentValue]="model != undefined ? model.specialDefense : ''"
        [(ngModel)]="delta.specialDefense"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Speed"
        [editType]="editType"
        [currentValue]="model != undefined ? model.speed : ''"
        [(ngModel)]="delta.speed"
        minvalue="1"
        maxvalue="1000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Height (m)"
        [editType]="editType"
        [currentValue]="model != undefined ? model.height : ''"
        [(ngModel)]="delta.height"
        minvalue="0.01"
        maxvalue="1000000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Weight (kg)"
        [editType]="editType"
        [currentValue]="model != undefined ? model.weight : ''"
        [(ngModel)]="delta.weight"
        minvalue="0.01"
        maxvalue="1000000"
        required="true"></resources-edit-attribute-number>
    <resources-edit-attribute-boolean
        attribute="Male Allowed?"
        [editType]="editType"
        [currentValue]="model != undefined ? model.maleAllowed : ''"
        [(ngModel)]="delta.maleAllowed"
        required="true"></resources-edit-attribute-boolean>
    <resources-edit-attribute-boolean
        attribute="Female Allowed?"
        [editType]="editType"
        [currentValue]="model != undefined ? model.femaleAllowed : ''"
        [(ngModel)]="delta.femaleAllowed"
        required="true"></resources-edit-attribute-boolean>
    <resources-edit-attribute-number
        attribute="Pokemart Price"
        [editType]="editType"
        [currentValue]="model != undefined ? model.pokemart : ''"
        [(ngModel)]="delta.pokemart"
        minvalue="0"
        maxvalue="20000"></resources-edit-attribute-number>
    <resources-edit-attribute-number
        attribute="Berry Store Price"
        [editType]="editType"
        [currentValue]="model != undefined ? model.contestCredits : ''"
        [(ngModel)]="delta.contestCredits"
        minvalue="0"
        maxvalue="100000"></resources-edit-attribute-number>
    <resources-edit-attribute-select
        attribute="Evolves From"
        [editType]="editType"
        [currentValue]="model != undefined && model.preEvolution != undefined ? model.preEvolution.name : ''"
        [items]="names"
        [(ngModel)]="delta.preEvolution"></resources-edit-attribute-select>
    <resources-edit-attribute 
        attribute="Evolution Method" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.evolutionMethod : ''" 
        [(ngModel)]="delta.evolutionMethod" 
        minlength="3" 
        maxlength="50"></resources-edit-attribute>
    <resources-edit-attribute-number
        attribute="Evolution EXP Requirement"
        [editType]="editType"
        [currentValue]="model != undefined ? model.evolutionExpRequirement : ''"
        [(ngModel)]="delta.evolutionExpRequirement"
        minvalue="5"
        maxvalue="7"></resources-edit-attribute-number>
    <resources-edit-attribute-select
        attribute="Mega Evolves From"
        [editType]="editType"
        [currentValue]="model != undefined && model.preMega != undefined ? model.preMega.name : ''"
        [items]="names"
        [(ngModel)]="delta.preMega"></resources-edit-attribute-select>
    <resources-edit-attribute 
        attribute="Mega Stone / Item" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.megaStone : ''" 
        [(ngModel)]="delta.megaStone" 
        minlength="3" 
        maxlength="20"></resources-edit-attribute>
    <resources-edit-attribute 
        attribute="Mega Suffix" 
        [editType]="editType" 
        [currentValue]="model != undefined ? model.megaSuffix : ''" 
        [(ngModel)]="delta.megaSuffix" 
        minlength="3" 
        maxlength="7"></resources-edit-attribute>
    <resources-edit-attribute-number
        attribute="Legendary Tier"
        [editType]="editType"
        [currentValue]="model != undefined ? model.legendaryTier : ''"
        [(ngModel)]="delta.legendaryTier"
        minvalue="0"
        maxvalue="2"></resources-edit-attribute-number>
    <resources-edit-attribute-select
        attribute="Story Rank"
        [editType]="editType"
        [currentValue]="model != undefined && model.storyRank != undefined ? model.storyRank.name : ''"
        [items]="storyRanks"
        [(ngModel)]="delta.storyRank"></resources-edit-attribute-select>
    <resources-edit-attribute-select
        attribute="Art Rank"
        [editType]="editType"
        [currentValue]="model != undefined && model.artRank != undefined ? model.artRank.name : ''"
        [items]="artRanks"
        [(ngModel)]="delta.artRank"></resources-edit-attribute-select>
    <resources-edit-attribute-select
        attribute="Park Rank"
        [editType]="editType"
        [currentValue]="model != undefined && model.parkRank != undefined ? model.parkRank.name : ''"
        [items]="parkRanks"
        [(ngModel)]="delta.parkRank"></resources-edit-attribute-select>
    <resources-edit-attribute-select
        attribute="Park Location"
        [editType]="editType"
        [currentValue]="model != undefined && model.parkLocation != undefined ? model.parkLocation.name : ''"
        [items]="parkLocations"
        [(ngModel)]="delta.parkLocation"></resources-edit-attribute-select>
    <resources-edit-attribute-accordion
        title="Attacks"
        [currentValues]="model.attacks"
        [deltas]="delta.attacks"
        [editType]="editType"
        [mappedItems]="speciesAttackPropertyDefinition"
        ></resources-edit-attribute-accordion>
    <resources-edit-attribute-accordion
        title="Abilities"
        [currentValues]="model.abilities"
        [deltas]="delta.abilities"
        [editType]="editType"
        [mappedItems]="speciesAbilityPropertyDefinition"
        ></resources-edit-attribute-accordion>
    <resources-edit-attribute-accordion
        title="Cosmetic Forms"
        [currentValues]="model.cosmeticForms"
        [deltas]="delta.cosmeticForms"
        [editType]="editType"
        [mappedItems]="cosmeticFormPropertyDefinition"
        ></resources-edit-attribute-accordion>
</div>