<div class="container">
    <div class="row p-2">
        <div class="col-sm-2">
            {{ title }}
        </div>
    
        <div class="col-sm-5" *ngIf="editType == 'update'">
            {{ currentValue }}
        </div>
    
        <div class="col-sm-5">
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="updatedValue" 
                [minlength]="minlength" 
                [maxlength]="maxlength" 
                [required]="required && editType == 'create'"
                #validator="ngModel"
                [ngClass]="validator.invalid && (validator.dirty || validator.touched) ? 'is-invalid' : ''">
            <div class="invalid-feedback" *ngIf="validator.errors && validator.errors.minlength">
                {{ title }} must be at least {{ minlength }} characters long.
            </div>   
            <div class="invalid-feedback" *ngIf="validator.errors && validator.errors.maxlength">
                {{ title }} must be no more than {{ maxlength }} characters long.
            </div>   
            <div class="invalid-feedback" *ngIf="validator.errors && validator.errors.required">
                Please provide a value for {{ title }}.
            </div>   
        </div>
    </div>
</div>
