<urpg-site-header></urpg-site-header>
<div class="container pb-40">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="pt-3 border-left border-right">
                <ol class="breadcrumb text-white">
                    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
                        <a [attr.href]="breadcrumb.url">{{ breadcrumb.title }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <ng-container *ngFor="let category of getRouteCategories()">
        <div class="row px-3">
            <div class="col pb-2 pt-3 bg-dark text-white border-left border-right">
                <h6>{{ category }}</h6>
            </div>
        </div>
        <div class="row px-3" *ngFor="let route of getRoutesByCategory(category)">
            <div class="col py-2 border-right border-left border-bottom">
                <a [href]="'urpg-webapps/resources/' + route.url">{{ route.title }}</a>
            </div>
        </div>
        <br />
    </ng-container>
</div>