<ul>
    <li>
        <button class="btn btn-primary" (click)="showTab('pokemon')">Pokemon</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('inventory')">Inventory</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('match')">Match History</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('gyms')">Gyms</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('creations')">Creations</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('characters')">Characters</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('achievements')">Achievements</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('wishlist')">Wishlist</button>
    </li>
    <li>
        <button class="btn btn-primary" (click)="showTab('changelog')">Change Log</button>
    </li>
</ul>