<div class="container" *ngIf="pokemon.length > 0">
    <div class="card flex-row" *ngFor="let pokemonBrief of pokemon; let i = index">
        <div class="card-header border-0 align-items-center">
            <img src="{{ getSpritePath(pokemonBrief) }}" alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{ i + 1 }}. {{ pokemonBrief.nickname != "" ? pokemonBrief.nickname + " the " : "" }}{{ pokemonBrief.displayName }}</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-primary">BUTTON</a>
        </div>
    </div>
</div>