<urpg-site-header></urpg-site-header>
<div class="container pb-40 pt-2">
    <div class="row">
        <div class="col">
            <h3>Ultradex - Home</h3>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <label for="pokemonNameInput"><h5>Filter Pokemon</h5></label>
            <input type="search" class="form-control" id="pokemonNameInput" placeholder="Enter name" [(ngModel)]="filterText" (keyup.enter)="search(filterText)">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search(filterText)">Go</button>
        </div>
    </div>
</div>
