<div class="container">
    <div class="row p-2">
        <div class="col-sm-2">
            {{ attribute }}
        </div>
    
        <div class="col-sm-5" *ngIf="editType == 'update'">
            {{ currentValue | date:'yyyy-MM-dd' }}
        </div>
    
        <div class="col-sm-5">
            <input 
                type="date" 
                class="form-control" 
                [(ngModel)]="updatedValue" 
                [required]="required && editType == 'create'"
                #validator="ngModel"
                [ngClass]="validator.invalid && (validator.dirty || validator.touched) ? 'is-invalid' : ''">
            <div class="invalid-feedback" *ngIf="validator.errors && validator.errors.required">
                Please provide a value for {{ attribute }}.
            </div>   
        </div>
    </div>
</div>
