<div class="container mt-4">
    <pokedex-stats-bar [label]="'HP'" [value]="species.hp" [embellished]="isEmbellished('hp')"></pokedex-stats-bar>
    <pokedex-stats-bar [label]="'Atk'" [value]="species.attack" [embellished]="isEmbellished('attack')"></pokedex-stats-bar>
    <pokedex-stats-bar [label]="'Def'" [value]="species.defense" [embellished]="isEmbellished('defense')"></pokedex-stats-bar>
    <pokedex-stats-bar [label]="'SpA'" [value]="species.specialAttack" [embellished]="isEmbellished('specialAttack')"></pokedex-stats-bar>
    <pokedex-stats-bar [label]="'SpD'" [value]="species.specialDefense" [embellished]="isEmbellished('specialDefense')"></pokedex-stats-bar>
    <pokedex-stats-bar [label]="'Spe'" [value]="species.speed" [embellished]="isEmbellished('speed')"></pokedex-stats-bar>
</div>