<div class="container">
    <div class="row justify-content-end">
        <div class="col overflow-hidden">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" (click)="showTab('pokemon')">Pokemon</li>
                <li class="list-group-item" (click)="showTab('inventory')">Inventory</li>
                <li class="list-group-item" (click)="showTab('match')">Match History</li>
                <li class="list-group-item" (click)="showTab('gyms')">Gyms</li>
                <!--li class="list-group-item" (click)="showTab('creations')">Creations</li-->
                <!--li class="list-group-item" (click)="showTab('characters')">Characters</li-->
                <li class="list-group-item" (click)="showTab('achievements')">Achievements</li>
                <li class="list-group-item" (click)="showTab('wishlist')">Wishlist</li>
                <li class="list-group-item" (click)="showTab('changelog')">Change Log</li>
            </ul>
        </div>
    </div>
</div>