<div class="container pb-40">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Image Folders</li>
        </ol>
    </nav>
    <resources-search [items]="names" [changes]="detectChanges()" (create)="create()" (findByName)="findByName($event)" (save)="save()"></resources-search>
    <resources-message #messageBox></resources-message>
</div>
<div class="container pb-5" *ngIf="editType == 'create' || model !== undefined">
    <resources-edit-attribute-header [editType]="editType"></resources-edit-attribute-header>
    <resources-edit-attribute 
        attribute="Name" 
        [editType]="editType" 
        [currentValue]="model !== undefined ? model.name : ''" 
        [(ngModel)]="delta.name" 
        minlength="3" 
        maxlength="25"
        required="true"></resources-edit-attribute>
    <resources-edit-attribute 
        attribute="Description" 
        [editType]="editType" 
        [currentValue]="model !== undefined ? model.description : ''" 
        [(ngModel)]="delta.description" 
        maxlength="60"></resources-edit-attribute>
    <resources-edit-attribute-select
        attribute="Extension"
        [editType]="editType"
        [currentValue]="model !== undefined ? model.extension : ''"
        [(ngModel)]="delta.extension"
        [items]="extensions"
        required="true"></resources-edit-attribute-select>
</div>