<div class="container pb-40">
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/resources">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Images</li>
        </ol>
    </nav>
    <resources-search 
        [items]="names" 
        [changes]="detectChanges()" 
        (create)="create()" 
        (save)="save()"
        filterable="false"></resources-search>
    <resources-message #messageBox></resources-message>
</div>
<div class="container pb-5" *ngIf="editType == 'create' || model !== undefined">
    <resources-edit-attribute-header [editType]="editType"></resources-edit-attribute-header>
    <resources-edit-attribute 
        attribute="URL" 
        [editType]="editType" 
        [(ngModel)]="delta.url" 
        minlength="1" 
        maxlength="2083"
        required="true"></resources-edit-attribute>
    <resources-edit-attribute 
        attribute="Name" 
        [editType]="editType" 
        [(ngModel)]="delta.name" 
        minlength="1" 
        maxlength="50"
        required="true"></resources-edit-attribute>
    <resources-edit-attribute-select 
        attribute="Folder" 
        [editType]="editType" 
        [(ngModel)]="delta.folder" 
        [items]="folderNames"
        required="true"></resources-edit-attribute-select>
</div>